<header>
    <div class="container">
        <div class="col-lg-12">
            <div class="header">
            <h1>NEWSWEEK</h1>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-nav">
                        <nav>
                           <ul>
                               <li>U.S |</li>
                               <li>World |</li>
                               <li> Business |</li>
                           </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>