
.header {
    background-color: red ;
    padding: 10px;
    position: relative ;
    text-align: center ; 
    color: white ;
}
.page-nav {
    justify-content: center;
    color: black;
    background-color: white;
    position: relative;
}
.ul {
   position: relative ;
   float: left;
   width: 100% ;
}